body {
    font-family: Arial, sans-serif;
}

#gameArea {
    width: 100%;
    height: 90vh;
    border: 2px solid #000;
    position: relative;
    background-color: #f0f0f0;
}

.memory-button {
    position: absolute;
    width: 10em;
    height: 5em;
    font-size: 1.2em;
    cursor: pointer;
}
